In [1]:
import pandas as pd
import os

data_folder = '../Dataset'

dataset_names = ['demographics', 'geographic', 'green_trips', 'mta_trips',
            'uber_trips_2014', 'uber_trips_2015', 'weather', 'yellow_trips', 'zones']
datasets = {}
for dataset_name in dataset_names:
    filename = f"{dataset_name}.csv"
    filepath = os.path.join(data_folder, filename)
    datasets[dataset_name] = pd.read_csv(filepath, dtype = { 'line_name': str }) if dataset_name == 'mta_trips' else pd.read_csv(filepath)
    print(f"loaded: {filepath}")

print('All datasets loaded!')

loaded: ../Dataset/demographics.csv
loaded: ../Dataset/geographic.csv
loaded: ../Dataset/green_trips.csv
loaded: ../Dataset/mta_trips.csv
loaded: ../Dataset/uber_trips_2014.csv
loaded: ../Dataset/uber_trips_2015.csv
loaded: ../Dataset/weather.csv
loaded: ../Dataset/yellow_trips.csv
loaded: ../Dataset/zones.csv
All datasets loaded!

I want to obtain the data fot the two uber datetimes only, this is to filter cabs data in order to use only that data

In [4]:
datasets['yellow_trips'].shape

(7974059, 9)

In [15]:
datasets['uber_trips_2014'].head()

  pickup_datetime  pickup_latitude  pickup_longitude    base
0     4/1/14 0:11          40.7690          -73.9549  B02512
1     4/1/14 0:17          40.7267          -74.0345  B02512
2     4/1/14 0:21          40.7316          -73.9873  B02512
3     4/1/14 0:28          40.7588          -73.9776  B02512
4     4/1/14 0:33          40.7594          -73.9722  B02512

In [12]:
clean_uber_2014 = datasets['uber_trips_2014'][['pickup_datetime']]
clean_uber_2015 = datasets['uber_trips_2015'][['pickup_datetime']]

clean_uber_2014['pickup_datetime'] = pd.to_datetime(clean_uber_2014['pickup_datetime'])
clean_uber_2014.head()

/Users/juanprq/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

      pickup_datetime
0 2014-04-01 00:11:00
1 2014-04-01 00:17:00
2 2014-04-01 00:21:00
3 2014-04-01 00:28:00
4 2014-04-01 00:33:00

In [13]:
clean_uber_2015['pickup_datetime'] = pd.to_datetime(clean_uber_2015['pickup_datetime'])
clean_uber_2015.head()

/Users/juanprq/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

      pickup_datetime
0 2015-05-17 09:47:00
1 2015-05-17 09:47:00
2 2015-05-17 09:47:00
3 2015-05-17 09:47:00
4 2015-05-17 09:47:00

In [35]:
clean_uber_2014.shape

(4534327, 1)

In [36]:
clean_uber_2015.shape

(14270479, 1)

In [37]:
all_uber = clean_uber_2014.append(clean_uber_2015)

In [45]:
yellow_clean = datasets['yellow_trips'].copy()
yellow_clean['pickup_datetime'] = pd.to_datetime(yellow_clean['pickup_datetime'])
yellow_clean.head()

,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,total_amount
0,2014-04-03 18:28:10,2014-04-03 18:54:32,-74.006033,40.706284,-73.918837,40.744946,1,8.70,34.8
1,2014-04-16 15:42:00,2014-04-16 16:07:00,-73.979558,40.749357,0.000000,0.000000,1,9.37,30.0
2,2014-04-13 18:04:00,2014-04-13 18:07:00,-73.956453,40.775307,-73.954792,40.784992,1,0.89,6.5
3,2014-05-21 19:33:00,2014-05-21 19:45:00,-73.987212,40.757850,-73.960198,40.775472,1,2.40,12.5
4,2014-05-30 16:28:00,2014-05-30 16:51:00,-73.974292,40.755397,-74.011867,40.704222,3,5.58,24.5

In [46]:
yellow_clean.shape

(7974059, 9)

In [47]:
result = pd.merge(yellow_clean, all_uber, how = 'inner')
result_df = pd.merge(clean_df[clean_df['Symbol'] == 'D'], market_df, how = 'outer', on = 'Date', suffixes = ('_clean', 'market'))

result.shape

(48221067, 9)